@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Cinzel:wght@400;700&display=swap');

.navbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px 0;
    border-bottom: 2px solid gold;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 15px 15px;
}

.navbar a {
    color: gold;
    text-decoration :none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1em;
    transition: 0,3s ease;
}

.navbar a:hover {
    color: orange;
    text-shadow: 0 0 10px #ffcc00;
}

.navbar a.active {
    color: #ffcc00;
    text-shadow: 0 0 15px #ffd700, 0 0 25px #ff8c00
}

body {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
    background: radial-gradient(circle at top center, #272626 0%, #090b11 90%);
    color: #e0e0e0;
    text-align: center;
    overflow-x: hidden;
    min-height: 200vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 10%, rgba(255, 200, 100, 0.12), transparent 70%);
    pointer-events: none;
    z-index: 0;
}
html, body {
    height: 100%;
}

h1 {
    color:#ff8c00;
    text-shadow: 
    0 0 10px #ec0000,
    0 0 10px red,
    0 0 5px red;
    border-style:solid;
    border-radius:9px;
    border-width: 4px;
    box-shadow:
    -0 0 15px,
    0 0 10px;
    box-shadow: 
    inset 5px 5px 10px #ff8c00,
    inset -5px -5px 10px #ff8c00;
    display:inline-block;
    font-size:bold;
    font-size: 4em;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    color:#ff8c00;
    text-shadow: 
    0 0 10px #ff0000,
    0 0 10px rgb(255, 0, 0),
    0 0 5px rgb(255, 255, 255);

    display:inline-block;
    font-size:bold;
    padding-left: 5px; 
}
p {
    color:#ffd700;
    font-family:knewave;
    font-size:2em;
    font-weight:bolder;
    text-shadow:
    0 0 5px goldenrod,
    0 0 10px goldenrod,
    0 0 15px gold;
}
/*Video starts here*/

.video-border {
    position: relative;
    display: inline-block;
    border-left: 40px solid #ff8c00;
    border-right: 40px solid #ff8c00;
    border-top: 35px solid #ff8c00;
    border-bottom: 35px solid #ff8c00;
    border-radius: 10px;
    border-image:linear-gradient(
        #ffb347,
        #ff8c00,
        #a85a00
    ) 1;
    border-style: solid;
    border-radius: 0%;
    width: fit-content;
    padding: 0px;
    overflow: hidden;
    width: 900;
    margin-top: 100px;
    margin-bottom: 330px;
    box-shadow: 10px 25px 40px rgba(255, 140, 0, 0.6),
    0 0 30px rgba(255, 140, 0, 0.6), -15px -15px 30px rgba(255, 140, 0, 0.6);
    transform: translateY(-30px) rotate(0deg);
}

.video-bg {
    display: flex;
    background-color: #000;
    width: 1000px;
    margin: 0 auto;
    padding: 10;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}

.my-video {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 0px;
    object-fit: cover;
    border-radius: 0;
}



 /*Youtube video*/
.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;

}

.video-frame {

    border-radius: 10px;
    padding: 0;
    display: flex;
    margin-left: -100px;
    box-shadow: 
    7px 7px 10px #333333,
    7px 7px 10px #580101;
    transform: translateY(5deg) rotate(0deg);
    overflow: visible;
    margin-bottom: 100px;


}


.video-box {
    flex-shrink: 0;
}
.text-box {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px; 
    border-radius: 12px;
    margin-left: 150px;
    box-shadow: 0 0 20px #ff7b00;
    font-family: "Segoe UI", sans-serif;
    line-height: 1.5;
    min-width: 200px;
    max-width: 200px;
    min-height: 500px;
    max-height: 500px;


}

.video-inner {
    position: relative;
    top: +200;
    left: +200; 
}

.upload-section {
    text-align: center;
    margin-top: 40px;
}

.upload-button {
    background-color: #ff8c00;
    color: #f30000;
    font-family:knewave;
    font-size: larger;
    border: none;
    padding: 15px 30px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    text-shadow: 5 5 10px #ff3c00;
    box-shadow: 
    0 4px 6px rgba(240, 1, 1, 0.2),
    0 0 10px #ff0000;
}

.upload-button:hover {
    background-color: #ff0000;
}